html,body,ul,li,p,a,h1,h2,h3{
    margin: 0;
    padding: 0;
    line-height:1.5em;

}

@font-face {
    font-family: PFBold;
    src: url("../font/PingFang%20Bold.ttf"); /* IE9+ */
}
@font-face {
    font-family: PFLIGHT;
    src: url("../font/PingFang%20Light.ttf"); /* IE9+ */
}

@font-face {
    font-family: PFREGULAR;
    src: url("../font/PingFang%20Regular.ttf"); /* IE9+ */
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

nav{
    padding: 10px 10% 10px 10%;
   /* display: -webkit-flex;
    display: flex;*/
    background: #ffffff;

  /*  box-shadow:0px 1px 20px #e6e6e6;*/
}

.nav_logo{
    font-family:PFBold ;
    width: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items:center;
   align-items:center;
    margin: 0;
    float: left;
}

.nav_logo h1 {
    color: #6297ff;
    font-size: 34px;
    font-family: Bebas;
}

.nav_logo h1 span{
    color: #99bbfc;
}

.nav_menu{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-align-items:center;
    align-items:center;

}

nav{
    position: relative;
}

.navLogin{
    float: right;
    width: 20%;
}

.navLogin>input{
    height: 2em;
    width: 60%;
    border: 1px solid #6297ff;
    border-radius: 2px;
    padding-left: 10px;
    margin:0.5em 5% 0 0 ;

}

.navLogin>button{
    width: 32%;
    height: 2em;
    border: none;
    color: #ffffff;
    background-color: #99bbfc;
    padding: 0;
    margin: 0;
}

.nav_menu>li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    cursor:pointer ;
}

.nav_menu>li:hover{
    color: #6297ff;
}

.nav_menu>li:checked{

}

.active{
    color: #6297ff;
}

.unactive{
    color: #B9B9B9;
}

footer{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*
footer>ul{
    width: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items:center;
    font-size: 14px;
    color: lightgray;
}

footer>ul>li{
    border-right: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

footer>ul>li:hover{
    color: #6297ff;
}
*/

.head_line{
    width: 100%;
    background-color: #A0BFFD;
    height: 60px;
    z-index: -1;
    position: absolute;

}

.other{
    position: relative;
    margin-bottom: 50px;
}

.head_txt{
    width: 80%;
    margin: auto;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    background:#6297FF ;
    color: #ffffff;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

.head_txt span{
    position: absolute;
    top: 18px;
    left: 155px;
}
.head_txt span{
    line-height: 100%;
}

.cover{
    width: 80%;
    margin: auto;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;

}

.node{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    min-height: 350px;

}

.nodeTitle{
    color: #6297ff;
    height: 2em;
    border-bottom: 1px solid #6297ff;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.nodeTitle>a{
    position: absolute;
    display: block;
    right: 0;
    top: 1em;
    text-decoration: none;
    color: #6297ff;
    cursor: pointer;
}

.node .inform{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 2px;
}

.inform_txt{
    min-height: 250px;
}

.inform_txt:first-child{
    margin-bottom: 30px;
    border-bottom: 1px dashed #B9B9B9;
    padding-bottom: 30px;
}

.inform_txt h3,h4{
    color: #6297ff;
}


.text_img{
    width: 30%;
    position: relative;
    margin: 0 20px 20px 20px;
    display: inline-block;
    float: left;
}

.paragraph{
    margin-top: 30px;
    color: #B9B9B9;
    font-family: open_sansregular;
    font-size: 14px;
}

.node>ul{
   width: 100%;
    text-align: center;
}

.node > ul .index_learn{
    position: absolute;
}

.node > ul li{
    width: 25%;
    float: left;
    text-align: center;
    position: relative;

}

.node > ul li{
    opacity:0.8;
    transition:margin-top 0.5s,opacity 0.5s ;
}

.node > ul li:hover{
    margin-top: -10px;
    opacity: 1;
}

.show_img img{
    width: 95%;
    cursor: pointer;
}

.show_img_txt{
    position: absolute;
    width: 60%;
    top: 45%;
    font-size: 10px;
    left: 20%;
  	cursor: pointer;
}

.show_img_txt h3{
    margin-bottom: 5px;
      cursor: pointer;
}

.over_img{
    position: absolute;
   background: url("../img/over_img.png");
    background-size:cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s,margin-top 0.5s;
}

.over_img:hover{
    opacity: 1;
    margin-top: -5px;
}

.over_img h2{
    margin-top: 25%;
    margin-bottom: 5px;
}



footer{
    margin-top: 100px;
    background: #A0BFFD;
    width: 100%;
    height: 220px;
}

.footer_over{
    width: 80%;
    border-left: 10px #ffffff solid;
    border-right: 10px #ffffff solid;
    background: #6297ff;
    height: 100%;
    margin: auto;
}

.footer_over ul{
    width: 75%;
    margin: auto;
    color: #ffffff;
    margin-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_over ul li{
   text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


/*forum 论坛*/
.write_report {
    width: 55%;
    float: left;
    position: relative;
    margin-bottom: 100px;
    margin-top: 70px;
}

.write_report input[type="text"] ,input[type="file"]{
    margin-bottom: 4%;
    font-family: 'open_sansregular';
    font-size: 0.85em;
    float: left;
    width: 60%;
    background: #FFFFFF;
    border: 1px solid #6297ff;
    padding: 8px;
    display: block;
    outline: none;
    -webkit-appearance: none;
    text-transform: capitalize;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    text-align:left;
    float:left;
}


textarea{
    margin-bottom: 4%;
    font-family: 'open_sansregular';
    font-size: 0.85em;
    float: left;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #6297ff;
    color: black;
    padding: 8px;
    display: block;
    outline: none;
    -webkit-appearance: none;
    text-transform: capitalize;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    text-align:left;
    float:left;
    height:500px;
}

input[type="submit"],#submit{
    font-family: 'bebasregular';
    margin-top: 4%;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 12px 30px;
    border: 1px solid #6297ff;
    background: #6297ff;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    position: absolute;
    bottom: -53px;
    left: 0;
}




